In [10]:
import seaborn as sns

sns.set(style="whitegrid")

tip = sns.load_dataset("tips")
sns.boxplot(x=tip[['size','day']])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
tip

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [11]:
t = tip[['size','day']]

In [12]:
t

     size   day
0       2   Sun
1       3   Sun
2       3   Sun
3       2   Sun
4       4   Sun
..    ...   ...
239     3   Sat
240     2   Sat
241     2   Sat
242     2   Sat
243     2  Thur

[244 rows x 2 columns]